* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/*

box sizing:

content-box: considera somente o tamanho do conteudo quando definir o tamanho.
border-box: considera o padding e a borda quando definir o tamanho.

obs: o margin sempre fica fora do box, para separar um conteudo do outro.

*/

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  /* aqui definimos 3 linhas e 2 colunas */
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
  }
  
.header {
  grid-area: header;
  background-color: skyblue;
}
  
.sidebar {
  grid-area: sidebar;
  background-color: lightgreen;
}
  
.main {
  grid-area: main;
  background-color: coral;
  /* height: calc(100vh - 180px); */
}
  
.footer {
  grid-area: footer;
  background-color: mediumslateblue;
  /* position: sticky;
  bottom: 0px; */
}